.section3{
    padding: 5% 5% 0 5% !important;  
    font-family: Montserrat !important;
}

.sec3txt{
    padding:5% 5% !important;
    font-size: 24px;
}

.img3{
    margin-top: 8%;
}

.wave {   
    width: 100% ;
}